# Environnements virtuels
.env
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Rust
target/
**/*.rs.bk

# Node/Frontend
node_modules/
dist/
build/
.next/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
secret.key

# NATS Data (si test en local)
nats-data/
*.log

services/io_voix/models